<div class="container">
  <p id="notice"><%= notice %></p>


  <h1 class="text-center mb-5">Posts</h1>
  <div class="posts-container">
      <% @posts.each do |post| %>
      <div class="main-content">
        <div class="title">
          <p><%= post.title %></p>
        </div>
        <div class="btns">
            <p class="pl-3 pd-3"><%= link_to 'Show', post, class: "btn btn-success" %></p>
            <p class="pl-3 pd-3"><%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %></p>
            <p class="pl-3 pd-3"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
        </div>
      </div>
      <% end %>

      <%= link_to 'New Post', new_post_path, class: "btn btn-primary w-100" %>
  </div>


</div>
